<header class="w-full px-6 py-4">
  <div class="flex justify-center items-center space-x-16 px-8 pt-8 text-white">
    <div class="relative max-w-md">
      <input
        type="text"
        [formControl]="searchTerm"
        (input)="searchGames()"
        placeholder="Search games..."
        class="w-full rounded-full border border-gray-300 px-5 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
      />

      @if (games().length > 0) {
        <ul
          class="absolute z-50 mt-2 overflow-hidden w-full rounded-xl border border-gray-200 bg-white shadow-lg"
        >
          @for (game of games(); track $index) {
            <li
              (click)="onSelecGame(game.id!)"
              class="flex items-center gap-3 cursor-pointer px-4 py-3 text-sm text-gray-700 hover:bg-blue-50 hover:text-blue-600 transition-colors"
            >
              <img
                [src]="game.imageUrl"
                alt="{{ game.title }}"
                class="h-10 w-10 rounded-lg object-cover border border-gray-200"
              />

              <span class="font-medium">
                {{ game.title }}
              </span>
            </li>
          }
        </ul>
      }
    </div>

    <nav class="hidden md:block">
      <ul class="flex space-x-8 font-medium">
        <li><a href="#" class="hover:text-blue-600">Home</a></li>
        <li><a href="#" class="hover:text-blue-600">Browse</a></li>
        <li><a href="#" class="hover:text-blue-600">News</a></li>
        <li><a href="#" class="hover:text-blue-600">About</a></li>
      </ul>
    </nav>

    <div class="flex items-center space-x-4">
      @if (!isLoggedIn) {
        <button
          (click)="Login()"
          class="border rounded-full px-5 py-2 hover:bg-blue-700 border-transparent"
        >
          Login
        </button>
        <button
          (click)="Register()"
          class="bg-blue-600 text-white rounded-full px-5 py-2 hover:bg-blue-700"
        >
          Register
        </button>
      } @else {
        <app-user-menu></app-user-menu>
      }
    </div>
  </div>
</header>
