services:
  postgres:
    image: postgres
    container_name: postgres-sql-ecom
    environment:
      POSTGRES_DB: e-commerceDb
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - spring-demo

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.2
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/e-commerceDb
      KC_DB_USERNAME: username
      KC_DB_PASSWORD: password
    ports:
      - "8081:8080"
    command:
      - "start-dev"
    depends_on:
      - postgres
    networks:
      - spring-demo

networks:
  spring-demo:
    driver: bridge

volumes:
  postgres:
    driver: local
  keycloak:
    driver: local