<div class="w-screen h-screen flex bg-gray-50">
  <app-side-bar-admin></app-side-bar-admin>
  <div class="flex-1 overflow-y-auto">
    <div class="flex items-center justify-center min-h-full p-6">
      <div class="w-full max-w-2xl">
        <h1 class="text-3xl text-center font-bold mb-6 text-gray-900">
          Edit Game
        </h1>
        <form
          [formGroup]="gameForm"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8"
        >
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="gameImage"
            >
              Game Image
            </label>
            <input
              class="hidden"
              id="gameImage"
              formControlName="image"
              type="file"
              accept="image/*"
              (change)="onFileSelected($event)"
              [class.border-red-500]="
                gameForm.get('image')?.invalid && gameForm.get('image')?.touched
              "
            />
            @if (
              gameForm.get("image")?.invalid && gameForm.get("image")?.touched
            ) {
              <p>
                <span class="text-red-500 text-xs italic mt-2"
                  >Game image needed
                </span>
              </p>
            }
            @if (!previewImage) {
              <label
                for="gameImage"
                class="shadow border rounded w-full py-8 px-3 text-gray-700 leading-tight cursor-pointer flex items-center justify-center bg-gray-50 hover:bg-gray-100"
              >
                <span class="text-sm">Click to upload an image</span>
              </label>
            }
            @if (previewImage) {
              <label for="gameImage" class="cursor-pointer inline-block">
                <img
                  [src]="previewImage"
                  alt="Game Image Preview"
                  class="w-40 h-40 object-cover rounded shadow-sm hover:opacity-80 transition-opacity"
                />
              </label>
            }
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div>
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="gameTitle"
              >
                Game Title
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="gameTitle"
                formControlName="title"
                type="text"
                placeholder="Enter game title"
                [class.border-red-500]="
                  gameForm.get('title')?.invalid &&
                  gameForm.get('title')?.touched
                "
              />
            </div>
            @if (
              gameForm.get("title")?.invalid && gameForm.get("title")?.touched
            ) {
              <p>
                <span class="text-red-500 text-xs italic mt-2"
                  >Game title is required.
                </span>
              </p>
            }

            <div>
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="category"
              >
                Category
              </label>
              <select
                id="category"
                (click)="loadCategories()"
                formControlName="categoryId"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                [class.border-red-500]="
                  gameForm.get('categoryId')?.invalid &&
                  gameForm.get('categoryId')?.touched
                "
              >
                <option value="" disabled selected>Select category</option>
                @for (category of categories(); track $index) {
                  <option [value]="category.id">{{ category.name }}</option>
                }
              </select>
              @if (
                gameForm.get("categoryId")?.invalid &&
                gameForm.get("categoryId")?.touched
              ) {
                <p>
                  <span class="text-red-500 text-xs italic mt-2"
                    >Category is required</span
                  >
                </p>
              }
            </div>
          </div>

          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="description"
            >
              Description
            </label>
            <textarea
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline resize-none"
              id="description"
              formControlName="description"
              rows="4"
              placeholder="Enter game description"
              [class.border-red-500]="
                gameForm.get('description')?.invalid &&
                gameForm.get('description')?.touched
              "
            ></textarea>
            @if (
              gameForm.get("description")?.invalid &&
              gameForm.get("description")?.touched
            ) {
              <p>
                <span class="text-red-500 text-xs italic mt-2"
                  >Description is required.
                </span>
              </p>
            }
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div>
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="Price"
              >
                Price
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="Price"
                formControlName="price"
                type="number"
                min="0"
                step="0.01"
                placeholder="Enter game price"
                [class.border-red-500]="
                  gameForm.get('price')?.invalid &&
                  gameForm.get('price')?.touched
                "
              />
              @if (
                gameForm.get("price")?.invalid && gameForm.get("price")?.touched
              ) {
                <p>
                  <span class="text-red-500 text-xs italic mt-2"
                    >Valid price is required.
                  </span>
                </p>
              }
            </div>

            <div>
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="Stock"
              >
                Stock
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="Stock"
                formControlName="stock"
                type="number"
                min="0"
                placeholder="Enter game stock"
                [class.border-red-500]="
                  gameForm.get('stock')?.invalid &&
                  gameForm.get('stock')?.touched
                "
              />
              @if (
                gameForm.get("stock")?.invalid && gameForm.get("stock")?.touched
              ) {
                <p>
                  <span class="text-red-500 text-xs italic mt-2"
                    >Valid stock is required.
                  </span>
                </p>
              }
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
            <div>
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="ReleaseDate"
              >
                Release Date
              </label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="ReleaseDate"
                type="date"
                formControlName="releaseDate"
                [class.border-red-500]="
                  gameForm.get('releaseDate')?.invalid &&
                  gameForm.get('releaseDate')?.touched
                "
              />
              @if (
                gameForm.get("releaseDate")?.invalid &&
                gameForm.get("releaseDate")?.touched
              ) {
                <p>
                  <span class="text-red-500 text-xs italic mt-2"
                    >Release date is required.
                  </span>
                </p>
              }
            </div>

            <div>
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="Platform"
              >
                Platform
              </label>
              <select
                id="Platform"
                formControlName="plateform"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                [class.border-red-500]="
                  gameForm.get('plateform')?.invalid &&
                  gameForm.get('plateform')?.touched
                "
              >
                <option value="" disabled selected>Select platform</option>
                <option value="PC">PC</option>
                <option value="PlayStation">PlayStation</option>
                <option value="XBox">Xbox</option>
                <option value="Nintendo ">Nintendo</option>
              </select>
              @if (
                gameForm.get("plateform")?.invalid &&
                gameForm.get("plateform")?.touched
              ) {
                <p>
                  <span class="text-red-500 text-xs italic mt-2"
                    >Platform is required.
                  </span>
                </p>
              }
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
            <div>
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="Platform"
              >
                Home Section
              </label>
              <select
                id="home Section"
                formControlName="homeSection"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                [class.border-red-500]="
                  gameForm.get('homeSection')?.invalid &&
                  gameForm.get('homeSection')?.touched
                "
              >
                <option value="" disabled selected>
                  Select a home section
                </option>
                <option value="BANNER">Banner</option>
                <option value="UPCOMING">Upcoming</option>
              </select>
              @if (
                gameForm.get("homeSection")?.invalid &&
                gameForm.get("homeSection")?.touched
              ) {
                <p>
                  <span class="text-red-500 text-xs italic mt-2"
                    >Home section is required.
                  </span>
                </p>
              }
            </div>
          </div>

          <div class="flex items-center justify-center">
            <button
              (click)="editGame()"
              class="bg-blue-500 hover:bg-blue-700 rounded-lg text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline"
              type="button"
            >
              Edit Game
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
